---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Navbar from "@/components/Navbar.astro";
import { Image } from "astro:assets";
import { type CollectionEntry, getCollection } from "astro:content";
import { Icon } from "astro-icon/components";

const blogCollection: CollectionEntry<"blog">[] = await getCollection("blog");

function convertDate(date: Date) {
  const months = [
    "January",
    "February",
    "March",
    "April",
    "May",
    "June",
    "July",
    "August",
    "September",
    "October",
    "November",
    "December",
  ];
  const monthIndex = date.getMonth();
  const day = date.getDate();
  const year = date.getFullYear();

  const formattedDate = months[monthIndex] + " " + day + ", " + year;
  return formattedDate;

}
const sortedBlog = blogCollection.sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime())
---

<BaseLayout
  title="Blog"
  description="In this page, you can see all of articles that I made. Either a personal info or some important info."
>
  <Navbar />
  <div
    class="min-h-screen p-8 flex flex-col gap-8 items-start font-anta max-w-3xl mx-auto dark:text-slate-400 text-slate-600"
  >
    <section>
      <!-- <button id="goBack" class="px-3 py-2 rounded border border-slate-400 text-slate-400 inline-block mb-4 hover:bg-slate-400 hover:text-slate-800 text-base cursor-pointer">Go Back</button> -->
      <h1
        class="text-2xl dark:text-white text-slate-800 font-semibold uppercase"
      >
        Blog
      </h1>
    </section>

    <div class="flex flex-col gap-4 w-full">
      {
        sortedBlog.map((blog) => (
          <article class="border dark:border-slate-600 border-slate-200 block p-2 rounded">
            <div class="md:flex justify-between items-start">
              <h2 class="underline">
                <a href={`/blog/${blog.slug}`}>
                <Icon name={'mdi:link'} class={'inline-block'} />
                {blog.data.title}
              </a>
                </h2>
              <p>
                <Icon name={'mdi:calendar'} class={'inline-block'} />
                <span>{convertDate(blog.data.date)}</span>
              </p>
            </div>
          </article>
        ))
      }
    </div>
  </div>
</BaseLayout>

<script>
  const goBack_btn: HTMLButtonElement = document.getElementById(
    "goBack"
  ) as HTMLButtonElement;
  goBack_btn.addEventListener("click", function () {
    window.history.back();
  });
</script>
