---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import BaseLayout from "@/layouts/BaseLayout.astro";
import CommissionPrice from "@/img/_image.webp";
import {Prices} from "@/utils/prices"
import Navbar from "@/components/Navbar.astro";

const isOpen = false;
---

<BaseLayout title="Commission Info" description="Terms of Service when you wan to commission me.">
  <Navbar />
  <div class="min-h-screen p-8 flex flex-col gap-8 font-anta max-w-2xl mx-auto dark:text-slate-400 text-slate-600">
    <div class="text-xl">
      <!-- <button id="goBack" class="px-3 py-2 rounded border border-slate-400 text-slate-400 inline-block mb-4 hover:bg-slate-400 hover:text-slate-800 text-base">Go Back</button> -->
      <h1 class="text-2xl font-semibold dark:text-white text-slate-800">Commission Info</h1>
      <p class="">In this page, I will explain how to commission me and giving you the ToS (Terms of Service).</p>
    </div>

    <div class="p-4 rounded dark:text-white text-slate-800 text-xl dark:bg-slate-700 bg-slate-200">
      <p>Commission Status:</p>
      <p class={`text-2xl ${isOpen ? 'dark:text-green-400 text-green-600' : 'dark:text-red-400 text-red-600'} uppercase`}>{isOpen ? 'Open' : 'Closed'}</p>
    </div>

    <div class="text-xl">
      <h2 class="text-2xl font-semibold dark:text-white text-slate-800">What I draw?</h2>
      <p class="dark:text-green-400 text-green-600">I draw...</p>
      <ul class="dark:text-green-400 text-green-600 mb-2">
        <li><Icon name={'mdi:check'} class="inline-block mr-2" />Human</li>
        <li><Icon name={'mdi:check'} class="inline-block mr-2" />Anthro / Furry</li>
        <li><Icon name={'mdi:check'} class="inline-block mr-2" />Mobian</li>
        <li><Icon name={'mdi:check'} class="inline-block mr-2" />Suggestive</li>
      </ul>
      <p class="">and, <span class="dark:text-red-400 text-red-600">I don't draw...</span></p>
      <ul class="dark:text-red-400 text-red-600">
        <li><Icon name={'mdi:times'} class="inline-block mr-2" />NSFW / Gore</li>
        <li><Icon name={'mdi:times'} class="inline-block mr-2" />Mecha / Complicated design</li>
        <li><Icon name={'mdi:times'} class="inline-block mr-2" />Political Related</li>
        <li><Icon name={'mdi:times'} class="inline-block mr-2" />Hate speech</li>
      </ul>
    </div>

    <div class="text-xl">
      <h2 class="text-2xl font-semibold dark:text-white text-slate-800">Commission Prices</h2>
      <table class="dark:text-white text-slate-800 text-xl w-full border border-slate-600 mt-2">
        <thead>
          <tr class="border-b border-slate-600 dark:bg-slate-600 bg-slate-200 text-left divide-x divide-slate-600">
            <th class="p-2">Commission Type</th>
            <th class="p-2">Price</th>
          </tr>
        </thead>
        <tbody>
          {Prices.map((price, idx) => (
            <tr class={`divide-x divide-slate-600 ${idx % 2 == 1 ? 'bg-white bg-opacity-5' : ''}`}>
              <td class="p-2">{price.name}</td>
              <td class="p-2">{price.price}</td>
            </tr>
          ))}
        </tbody>
      </table>
      <Image src={CommissionPrice} widths={[64, 128, 256, 512, 1024]} alt={'Commission Price'} class={'w-full mt-4 rounded'} loading={'eager'} />
    </div>

    <div class="text-xl">
      <h2 class="text-2xl font-semibold dark:text-white text-slate-800">Extra Notes</h2>
      <ul class="dark:text-yellow-400 text-yellow-600 list-disc list-inside">
        <li>Additional characters +50% from the base price.</li>
        <li>Payment via PayPal in USD</li>
        <li>Complex background +$10</li>
      </ul>
    </div>

    <div class="text-xl">
      <h2 class="text-2xl font-semibold dark:text-white text-slate-800">Contact Me At:</h2>
      <ul class="dark:text-yellow-400 text-yellow-600 list-disc list-inside">
        <li>Discord: voidfoxtamcin</li>
        <li>Telegram: voidfoxtamcin</li>
      </ul>
    </div>
  </div>
</BaseLayout>

<script>
  const goBack_btn: HTMLButtonElement = document.getElementById("goBack") as HTMLButtonElement;
  goBack_btn.addEventListener("click", function () {
    window.history.back()
  })
</script>