---
import MyLayout from "../layouts/MyLayout.astro";
import { Image } from "astro:assets";
import profile from "../img/profile.png";
---

<MyLayout title="Hello!">
  <div class="min-h-screen flex flex-col items-center justify-center">
    <div class="container mx-auto">
      <div class="grid lg:grid-cols-4 gap-4">
        <div class="lg:col-span-3 grid grid-cols-4">
          <div class="col-span-4 border-2 border-black p-4">
            <h1 class="text-5xl mb-4 font-black italic text-center">&star; &SmallCircle; VOIDFOXTAMCIN &SmallCircle; &starf;</h1>
            <hr class="border-t-2 border-black my-4">
            <ul class="text-xl font-semibold list-inside list-[arabic-indic]">
              <li>Mecin / Tamcin</li>
              <li>18<sup>th</sup> December</li>
              <li>21 Years Old</li>
              <li>Hobbyist Artist</li>
              <li>IT Student</li>
              <li>SEA</li>
              <li>ID / EN / MY</li>
            </ul>
          </div>
        </div>
        <div class="lg:col-span-1 border-2 border-black flex flex-col divide-y-2 divide-black w-full">
          <a href="/commission-info" class="block px-4 py-3 font-semibold text-xl hover:text-white hover:bg-black">COMMISSION INFO</a>
          <a href="/portofolio" class="block px-4 py-3 font-semibold text-xl hover:text-white hover:bg-black">PORTOFOLIO</a>
          <a href="https://www.twitter.com/voidfoxtamcin/" target="_blank" class="block px-4 py-3 font-semibold text-xl hover:text-white hover:bg-slate-600">X / TWITTER</a>
          <a href="https://www.instagram.com/voidfoxtamcin/" target="_blank" class="block px-4 py-3 font-semibold text-xl hover:text-white hover:bg-pink-600">INSTAGRAM</a>
          <a href="https://bsky.app/profile/voidfoxtamcin.bsky.social" target="_blank" class="block px-4 py-3 font-semibold text-xl hover:text-white hover:bg-blue-600">BLUESKY</a>
          <a href="https://itaku.ee/profile/voidfoxtamcin" target="_blank" class="block px-4 py-3 font-semibold text-xl hover:bg-yellow-400">ITAKU</a>
          <a href="https://www.patreon.com/VoidFoxTamcin" target="_blank" class="block px-4 py-3 font-semibold text-xl hover:text-white hover:bg-orange-600">PATREON</a>
        </div>
      </div>
      <p class="text-center mt-4 text-4xl">🍉</p>
    </div>
  </div>
</MyLayout>
