---
import {Image} from "astro:assets"
import MyLayout from "@/layouts/MyLayout.astro"
import ProfileImg from "@/img/profile.png"
import { Icon } from "astro-icon/components"
---

<MyLayout title="Tamcin's Website" bgClass="bg-slate-900">
<div class="fixed w-[48rem] h-[48rem] bg-slate-800 rounded-full -z-10 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"></div>
<div class="min-h-screen grid xl:grid-cols-2 place-content-center xl:place-items-center gap-8 relative z-10">
  <div class="text-center xl:text-right w-full">
    <Image src={ProfileImg} alt={'Profile'} class:list={'mx-auto xl:mx-0 xl:ml-auto rounded-full'} />
    <h1 class="text-3xl md:text-6xl font-black text-white">VOIDFOXTAMCIN</h1>
    <p class="text-xl text-white">Weird guy who love to codes and draw.</p>

    <p class="font-semibold text-blue-500 text-xl mt-4">FOLLOW ME ON</p>
    <ul class="flex flex-row justify-center xl:justify-end gap-x-4 text-4xl text-white">  
      <li><a href="https://twitter.com/voidfoxtamcin" target="_blank" rel="noopener"><Icon name={'mdi:twitter'} class="inline"/></a></li>
      <li><a href="https://instagram.com/voidfoxtamcin" target="_blank" rel="noopener"><Icon name={'mdi:instagram'} class="inline"/></a></li>
      <li><a href="https://bsky.app/profile/voidfoxtamcin.bsky.social" target="_blank" rel="noopener"><Icon name={'mdi:butterfly-outline'} class="inline"/></a></li>
      <li><a href="https://patreon.com/VoidFoxTamcin" target="_blank" rel="noopener"><Icon name={'mdi:patreon'} class="inline"/></a></li>
      <li><a href="https://itaku.ee/profile/voidfoxtamcin" target="_blank" rel="noopener"><Icon name={'mdi:bird'} class="inline"/></a></li>
  </div>
  <div class="h-1 w-full bg-white mx-auto block xl:hidden"></div>
  <div class="text-center xl:text-left w-full">
    <ul class="flex flex-col gap-y-2 text-white md:text-2xl font-semibold">
      <li><a href="/commission-info" class="inline-block hover:text-red-500 underline"><Icon name={'mdi:link-variant'} class={'inline'} /> COMMISSION INFO</a></li>
      <li><a href="/portofolio" class="inline-block hover:text-red-500 underline"><Icon name={'mdi:link-variant'} class={'inline'} /> PORTOFOLIO</a></li>
      <li><a href="/my-original-characters" class="inline-block hover:text-red-500 underline"><Icon name={'mdi:link-variant'} class={'inline'} /> MY ORIGINAL CHARACTERS</a></li>
      <li><a href="/blog" class="inline-block hover:text-red-500 underline"><Icon name={'mdi:link-variant'} class={'inline'} /> BLOG</a></li>
    </ul>
  </div>

  
</div>
</MyLayout>