---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Navbar from "@/components/Navbar.astro";
import { Image } from "astro:assets";
import type {Images as ImagesType} from "@/utils/types"
import {GET} from "@/pages/api/portofolio.json.ts"

let response = await GET(Astro);
const data:ImagesType[] = await response.json();
---

<BaseLayout title="Portofolio" description="In this page, you can see some of my art works!">
  <Navbar />
  <div class="min-h-screen p-8 flex flex-col gap-8 font-anta dark:text-slate-400 text-slate-600">
    <section class="text-xl max-w-2xl w-full mx-auto">
      <button id="goBack" class="px-3 py-2 rounded border border-slate-400 text-slate-400 inline-block mb-4 hover:bg-slate-400 hover:text-slate-800 text-base cursor-pointer">Go Back</button>

      <h1 class="dark:text-white text-slate-800 text-2xl font-semibold">My Art Works</h1>
    </section>

    <section class="text-xl container mx-auto">
      <div class="column columns-1 md:columns-2 lg:columns-3">
        {//@ts-ignore
        data.images.map((img) => (
          <Image src={`/img/portofolio/${img.src}`} width={1024} height={1024} alt={img.src} class="w-full rounded block mb-4" />
        ))}
      </div>
    </section>
  </div>
</BaseLayout>

<script>
  const goBack_btn: HTMLButtonElement = document.getElementById("goBack") as HTMLButtonElement;
  goBack_btn.addEventListener("click", function () {
    window.history.back()
  })
</script>