---
import MyLayout from "@/layouts/MyLayout.astro";
import { Image } from "astro:assets";
import { GET } from "@/pages/api/gallery.json.ts";
import type { Images as ImagesType, Image as ImageType } from "@/lib/types";

let response = await GET(Astro);
const data: ImagesType = await response.json();
---

<MyLayout title="Tamcin's Portofolio" bgClass="bg-slate-900">
  <div class="py-8 px-4">
    <h1 class="text-3xl md:text-6xl font-black text-white text-center">PORTOFOLIO</h1>

    <div class="columns-1 sm:columns-2 md:columns-3 lg:columns-4 mt-8">
      {
        data.images.map((img: ImageType, index: number) => (
          <Image
            src={"/img/" + img.src}
            alt={`protofolio image ${img.src}`}
            width={256}
            height={128}
            loading={"lazy"}
            quality={"low"}
            class="mb-4 rounded-lg min-w-full"
          />
        ))
      }
    </div>

    <button
          onclick="goBack()"
          class="block w-full px-4 py-3 text-center font-semibold bg-slate-700 rounded-lg mt-4 md:text-xl text-white"
          >GO BACK</button>
  </div>
</MyLayout>

<script is:inline>
  function goBack(){
    window.history.back();
  }
</script>