---
import { Icon } from "astro-icon/components";
---

<button class="flex justify-center items-center h-12 w-12 bg-slate-700 rounded-full fixed bottom-5 right-5">
  <Icon name={'mdi:weather-sunny'} class="inline-block text-white text-2xl" />
</button>